<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin Panel</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- stylesheet -->
  <link href="../public/css/app.css" rel="stylesheet" type="text/css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!--==========================
    Header
  ============================-->
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">Admin Panel</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/showallgames">Video Games</a></li>
        <li><a href="/creategames">Create Video Games</a></li>
        <li><a href="/showallebooks">eBooks</a></li>
        <li><a href="/createebooks">Create eBooks</a></li>
        <li><a href="/allposts">Blog Post</a></li>
        <li><a href="/createposts">Create Blog Post</a></li>
        <li><a href="/allusers">Users</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    </div>
  </header>
