<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GameOn!</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- stylesheet -->
  <link href="../public/css/app.css" rel="stylesheet" type="text/css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>

<body>

  <!--==========================
    Header
  ============================-->


    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Game On!</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Products
          <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/games">Video Games</a></li>
              <li><a href="/ebooks">eBooks</a></li>
          </li>
          </ul>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">More
            <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/free-game">Free Game</a></li>
                <li><a href="/posts">Blog</a></li>
              </ul>
            </li>
          </li>
          <li><a href="/profile">Profile</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    </div>
  </header>
