<form accept-charset="UTF-8" action="/searchgames" method="post">
    <div class="item_ae">
        <label for="search">Search:</label>
        <input name="search" type="text" placeholder="Search Games.."/>
        <button class="button_default" type="submit">Seach</button>
    </div>
</form>
