<!--get access to header file-->
<% include ../partials/header %>
  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum nec lorem sit amet lobortis. Mauris mollis neque massa, in venenatis augue commodo at. Etiam sed vestibulum risus. Nullam elementum velit a purus maximus ultrices. Integer quis tincidunt leo, sit amet malesuada ipsum. Morbi sodales placerat est, sed pharetra augue imperdiet a. Praesent cursus consequat magna id tristique. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p><br>
        <!-- <p>Nunc nisi quam, lacinia vitae rhoncus at, consectetur eget enim. Aliquam nec malesuada tortor. Phasellus sed sem sed purus porta auctor. Donec sed rhoncus ligula, luctus pellentesque mauris. Maecenas condimentum neque ultricies mollis interdum. Quisque non ante quis dui semper ultricies eu eget justo. Donec efficitur viverra tortor venenatis pellentesque. In dapibus nec augue eget porttitor. Nullam ornare dolor eget dui ullamcorper sagittis. Nullam eros lectus, scelerisque et scelerisque sed, interdum sit amet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat.</p><br>
        <p>Nulla elementum ultrices tellus in pulvinar. Nulla non nunc convallis, pharetra erat eget, tempus urna. Proin ornare neque at libero sagittis accumsan. Aliquam hendrerit magna ut lacus accumsan, et auctor est mattis. Vestibulum lobortis, lacus vel tempus varius, urna ipsum gravida libero, quis aliquam velit nibh eget tellus. Phasellus sit amet neque arcu. Pellentesque nec justo et leo venenatis sollicitudin. Ut tincidunt sit amet turpis a aliquet. Proin non metus porttitor, porttitor lacus a, suscipit mi. Etiam sit amet rutrum eros.</p><br>
        <p>Curabitur a ante ex. Ut posuere ante fringilla metus pretium varius. Nulla pretium magna vitae libero suscipit molestie. Praesent quis viverra arcu. Nulla condimentum tellus in bibendum auctor. Nulla auctor quam ac justo elementum tincidunt. In vel tristique sem. Quisque augue justo, elementum non nisi vitae, congue malesuada mi. Sed scelerisque leo eu efficitur sagittis. Nullam et neque mauris. Cras rhoncus lorem porta metus placerat, sed finibus justo placerat. Praesent sed auctor dolor. Donec id dolor sed eros porttitor gravida quis et lacus. Phasellus facilisis mi dui, in commodo sapien iaculis non. Proin erat lacus, porta eget eros eu, semper consectetur enim.</p><br> -->
      </header>
      <div class="row about-cols">

        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="about3.jpg" alt="Super Mario">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><br>
  <!--get access to footer file-->
  <% include ../partials/footer %>
